.new-article {
  text-align: center;

  .create-article-form {
    display: inline-block;
    margin-left: 20px;
    margin-right: auto;

    .input-form {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
