.new-article {
  text-align: center;

  .create-article-form {
    display: inline-block;
    margin-left: 20px;
    margin-right: auto;

    .input-form {
      text-align: left;
      display: block;
      width : '500px';
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
